body{
    background-image: url(fondoo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
h2{
    color: antiquewhite;
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
}
li{
    color: rgb(255, 255, 255);
}
a{
    color: rgb(255, 255, 255);
}
.block{
    text-align: center;
}
.list{
  text-align: left;
  display:inline-block;
  }
legend{
    color: antiquewhite;
}
.formacademica{
    text-align: center;
}