body{
    background-color: bisque;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
    text-align: center;
}
li{
    color: rgb(0, 0, 0);
}
a{
    color: rgb(0, 0, 0);
}
.block{
    text-align: center;
}
.list{
  text-align: left;
  display:inline-block;
  }
legend{
    color: rgb(0, 0, 0);
}
.formacademica{
    text-align: center;
}